# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled
/build

# config
.env

# creds
/etc/dhparam.pem
/etc/gui.conf
/etc/nginx-selfsigned.crt
/etc/nginx-selfsigned.key

/data